
.have-docs{
background-color: #1DDF51;
color: #000000;
padding: 3vw 0;
border: 1px solid green;
text-align: center;
}
.have-no-docs{
background-color: #F8D9D8;
color: #000000;
padding: 3vw 0;
border: 1px solid red;
text-align: center;
}