.images-container {
    background: #ffffff;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue LT Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2.2vw;
    text-align: center;
    color: #cdd5df;
}
