.screen-route-info {
    background: #f8fafc;
    border: 1px solid #e3e8ef;
    box-sizing: border-box;
    padding:  .5vw 2.7vw;
}
.home-text {
    font-family: "Helvetica Neue LT Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 0.83vw;
    line-height: 1.71vw;
    color: #141e4f;
    padding-left: .41vw;
}
